* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	margin: 0 auto;
	display: flex;
	width: 100%;
	height: 924px;
	background: #FAFAFA;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
}
.header-img {
	width: 100%;
	height: 800px;
	position: absolute;
}
.navbar {
	display: flex;
	width: 1330px;
	height: 105px;
	align-items: center;
	z-index: 1;

}
.navbar-logo {
	width: 150px;
	height: 30px;
	margin-left: 136px;

}
span.logo {
	font-size: 24px;
	font-weight: 700;
}
nav {
	width: 600px;
	height: 30px;
	word-spacing: 21px;
	margin-left: 100px;
	padding: 7px 0;
	box-sizing: border-box;
}
nav a {
	font-size: 14px;
	text-decoration: none;
	color: #737373;
	font-weight: 600;
}
.vector {
	margin-left: 660px;
}

div.container {
	display: flex;
	flex-direction: column;
	width: 1046px;
	height: 788px;
	z-index: 1;
}


div.h-button {
	margin: 80px 540px 0 0;
	width: 560px;
	height: 340px;
}

div.h-button h1 {
	font-size: 54px;
	font-weight: 800;
}
div.h-button h4 {
	margin: 35px 0;
	font-size: 20px;
	font-weight: 500;
	color: #737373;

}
.button-1 {
	width: 185px;
	height: 48px;
	border-radius: 35px;
	background: #FFA62B;
	border: none;
	color: #fff;
	cursor: pointer;
	outline: none;
}
.button-2 {
	width: 154px;
	height: 48px;
	border-radius: 35px;
	border: 1px solid #00A0C1;
	background: transparent;
	color: #00A0C1;
	cursor: pointer;
	outline: none;
}

div.row-two {
	height: 380px;
	margin: 80px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.box-one, .box-two, .box-three {
	width: 330px;
	height: 210px;
	padding: 35px 40px;
	box-sizing: border-box;
	box-shadow: 0 10px 15px  rgba(0,0,0, 0.2);
}
.box-one h3, .box-two h3, .box-three h3 {
	margin: 10px 0;
	font-size: 22px;
	font-weight: 800;
}
.box-two h3 {
	margin: 3px 0 10px 0;
}
.box-one, .box-two {
	background: #fff;
}
.box-one p, .box-two p {
	color: #737373;
}

.box-three {
	background: #00A0C1;
	color: #fff;
}


div.features {
	background: #FAFAFA;
	width: 100%;
	height: 526px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.container-features {
	width: 1050px;
	height: 526px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.features-row-one {
	width: 864px;
	height: 107px;
	margin: 80px 0 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.features-row-one h2 {
	font-size: 40px;
	font-weight: 700px;
}
.features-row-one p {
	text-align: center;
	color: #737373;
	font-weight: 500;
	font-size: 14px;
}
.features-row-two {
	width: 1050px;
	height: 210px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.row-two-box-1,
.row-two-box-2,
.row-two-box-3, 
.row-two-box-4 {
	padding: 30px 40px;
	box-sizing: border-box;
	width: 230px;
	height: 210px;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
}
.features-row-two img {
	margin: 0 0  12px 0;
}
.features-row-two h2 {
	font-weight: 700;
	font-size: 40px;
}
.features-row-two h5 {
	font-weight: 700;
	font-size: 16px;
	color: #737373;
}

.features-two {
	margin: 0 auto;
	width: 100%;
	height: 700px;
	background: #FAFAFA;
	display: flex;
	justify-content: center;
}
.container-features-two {
	width: 1050px;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.features-two-row-one {
	width: 1050px;
	height: 200px;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.features-two-row-one h2 {
	font-weight: 700px;
	font-size: 40px;
	margin: 0 0 10px 0;
}
.features-two-row-one p {
	font-size: 14px;
	text-align: center;
	color: #737373;
}
.features-two-row-two {
	width: 1050px;
	height: 350px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.features-two-row-two h5 {
	font-size: 16px;
	margin: 0 0 15px 0;
	font-weight: 700;

}
.features-two-row-two p {
	font-size: 14px;
	color: #737373;
	font-weight: 500;
}
.card-one, 
.card-two, 
.card-three, 
.card-four {
	width: 230px;
	height: 340px;
	background: #fff url(../image/card-image-1.png) bottom no-repeat;
	box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
	padding: 20px;
	box-sizing: border-box;
} 
.card-one {
	background: url(../image/card-image-1.png) bottom no-repeat;
}
.card-two {
	background: url(../image/card-image-2.png) bottom no-repeat;
}
.card-three {
	background: url(../image/card-image-3.png) bottom no-repeat;
}
.card-four {
	background: url(../image/card-image-4.png) bottom no-repeat;
}


div.features-video {
	width: 100%;
	height: 910px;
	background: #fafafa;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container-features-video {
	width: 1050px;
	height: 910px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.features-video-row-one {
	width: 1050px;
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.features-video-row-one h2 {
	font-size: 40px;
	text-align: center;
	font-weight: 700;
}
.features-video-row-one p {
	font-size: 14px;
	font-weight: 500;
	color: #737373;
	text-align: center;
}
.features-video-row-two {
	width: 1050px;
	height: 440px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
video {
	width: 600px;
	height: 440px;
	box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
}
div#video {
	position: relative;
}
#video img.button-play {
	z-index: 1;
	position: absolute;
	top: 150px;
	left: 250px;
	cursor: pointer;
}
.video-description {
	width: 330px;
	height: 440px;
}
.description-block {
	width: 330px;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.description-block h2 {
	font-size: 40px;
	font-weight: 700px;
}
.description-block p {
	font-size: 14px;
	color: #737373;
}
.items-block {
	width: 330px;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.items-block-card-one {
	width: 330px;
	height: 80px;
	display: flex;
	justify-content: space-between;
}
.items-block-card-div {
	width: 280px;
	line-height: 20px;

}
.items-block-card-div h5 {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}
.items-block-card-div p {
	font-size: 14px;
	color: #737373;
}

.items-block-card-two {
	width: 330px;
	height: 80px;
	display: flex;
	justify-content: space-between;
}
.items-block-card-one img, .items-block-card-two img {
	width: 32px;
	height: 32px;
}

div.features-three {
	width: 100%;
	height: 340px;
	background: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.features-three-container {
	width: 1050px;
	height: 340px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.features-three-container .icons {
	width: 1050px;
	height: 180px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1;

}
.features-three-container .form {
	width: 1050px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;

}
.features-three-container .form .div-form {
	width: 990px;
	height: 125px;
	background: #16697a;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.form .div-form {
	color: #fff;
	font-size: 24px;
	text-transform: capitalize;
}
.div-form .text {
	width: 330px;
	height: 60px;
	padding: 15px;
	box-sizing: border-box;
	border: none;
	border-radius: 10px 0 0 10px;
}
.div-form .btn {
	width: 120px;
	height: 60px;
	background: #FFA62B;
	border-radius: 0 10px 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}
input::placeholder {
	font-size: 14px;
}

#background {
	width: 100%;
	height: 80px;
	background: #252B42;
	position: absolute;
	bottom: 0;
}

.contact {
	width: 100%;
	height: 810px;
	background: #fafafa;
	display: flex;
	justify-content: center;
}
.contact-container {
	width: 1050px;
	height: 740px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.contact-row-one {
	width: 1050px;
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.contact-row-one h2 {
	font-size: 40px;
	font-weight: 700px;
}
.contact-row-one p{
	text-align: center;
	font-size: 14px;
	color: #737373;
}
.contact-row-two {
	width: 1050px;
	height: 395px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-phone {
	width: 330px;
	height: 335px;
	background: #fff;
	box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card-phone div h6{
	text-align: center;
	margin: 20px 0 10px;
	font-size: 14px;
	color: #252B42;
	font-weight: 600;
	line-height: 5px;
}
.card-phone h5 {
	margin: 10px 0 20px;
	font-size: 16px;
}
.card-phone button {
	width: 160px;
	height: 45px;
	background: none;
	border: 1px solid #FFA62B;
	color: #FFA62B;
	border-radius: 5px;
	outline: none;
	cursor: pointer;

}
.card-geo {
	width: 330px;
	height: 395px;
	background: #252B42;
	box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card-geo div h6{
	text-align: center;
	margin: 20px 0 10px;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	line-height: 5px;
}
.card-geo h5 {
	margin: 10px 0 20px;
	font-size: 16px;
	color: #fff;
}
.card-geo button {
	width: 160px;
	height: 45px;
	background: none;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 5px;
	outline: none;
	cursor: pointer;

}
.card-mail {
	width: 330px;
	height: 335px;
	background: #fff;
	box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card-mail div h6{
	text-align: center;
	margin: 20px 0 10px;
	font-size: 14px;
	color: #252B42;
	font-weight: 600;
	line-height: 5px;
}
.card-mail h5 {
	margin: 10px 0 20px;
	font-size: 16px;
}
.card-mail button {
	width: 160px;
	height: 45px;
	background: none;
	border: 1px solid #FFA62B;
	color: #FFA62B;
	border-radius: 5px;
	outline: none;
	cursor: pointer;

}
.features-four {
	width: 100%;
	height: 140px;
	display: flex;
	justify-content: center;
}
.container-features-four {
	width: 1050px;
	height: 140px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.features-four-desc {
	width: 500px;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.features-four-desc h3 {
	font-size: 24px;
	font-weight: 700;
}
.features-four-desc p {
	font-size: 14px;
	color: #737373;
}
.features-four button {
	width: 160px;
	height: 60px;
	margin: 0 38px 0 0;
	background: #FFA62B;
	outline: none;
	border: none;
	border-radius: 5px;
	color:#fff;
}

.footer-one {
	background: #16697A;
	width: 100%;
	height: 270px;
	display: flex;
	justify-content: center;
}
.footer-container {
	width: 1050px;
	height: 270px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-container-row {
	width: 1050px;
	height: 170px;
	display: flex;
	justify-content: space-between;
}


.company-info {
	width: 150px;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.company-info h5 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.company-info ul {
	list-style-type: none;
	line-height: 35px;
}
.company-info a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
}


.legal {
	width: 150px;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.legal h5 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.legal ul {
	list-style-type: none;
	line-height: 35px;
}
.legal a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
}


.footer-feature {
	width: 150px;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.footer-feature h5 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.footer-feature ul {
	list-style-type: none;
	line-height: 35px;
}
.footer-feature a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
}


.resources {
	width: 150px;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.resources h5 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.resources ul {
	list-style-type: none;
	line-height: 35px;
}
.resources a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
}


.get-in-touch {
	width: 320px;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.get-in-touch h5 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.get-in-touch ul {
	list-style-type: none;
	line-height: 35px;
}

.get-in-touch {
	vertical-align: middle;
}
.get-in-touch img {
	margin: 10px 0 0 0;
}
.get-in-touch a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
}

.footer-two {
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: center;
}

.footer-two-container {
	width: 1050px;
	height: 75px;
	display: flex;
	justify-content: space-between;
}
.footer-two-description {
	width: 750px;
	height: 75px;
	display: flex;
	align-items: center;
}
.footer-two-description p {
	font-weight: 600px;
	font-size: 
}
.footer-two-social {
 	width: 250px;
 	height: 75px;
 	display: flex;
 	justify-content: space-evenly;
 	align-items: center;
}